<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdt.mapper.NotificationsMapper">

    <resultMap id="BaseResultMap" type="com.bdt.model.entity.Notifications">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="senderId" column="sender_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="referenceId" column="reference_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,type,
        message,create_time,reference_id
    </sql>
</mapper>
