<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdt.mapper.RequestProcessLogsMapper">

    <resultMap id="BaseResultMap" type="com.bdt.model.entity.RequestProcessLogs">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="requestId" column="request_id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_id,admin_id,
        action,create_time
    </sql>
</mapper>
